{% extends 'base.html' %}

{% block title %} Task Manager - Home {% endblock %}

{% block content %}
<main class="container mt-4">
    <form method="GET" class="mb-4">
        <div class="row gy-3 gx-3">
            <div class="col-lg-3 col-md-6">
                <label for="id_user" class="form-label">Usuário</label>
                {{ filter.form.user }}
            </div>
            <div class="col-lg-3 col-md-6">
                <label for="id_task" class="form-label">Título da Task</label>
                {{ filter.form.task }}
            </div>
            <div class="col-lg-3 col-md-6">
                <label for="id_start_time" class="form-label">Início (a partir de)</label>
                {{ filter.form.start_time }}
            </div>
            <div class="col-lg-3 col-md-6">
                <label for="id_end_time" class="form-label">Fim (até)</label>
                {{ filter.form.end_time }}
            </div>
            <div class="col-lg-6 col-md-12">
                <label for="id_description" class="form-label">Descrição</label>
                {{ filter.form.description }}
            </div>
            <div class="col-lg-3 col-md-12 d-flex align-items-end justify-content-md-end">
                <button type="submit" class="btn btn-primary w-100">Filtrar</button>
            </div>
        </div>
    </form>
    
    <nav class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3">Lista de Tasks</h1>
        <a class="btn btn-primary" href="{% url 'task_create' %}">Criar Nova Task</a>
    </nav>
    
    <section>
        <div class="row mb-4">
            <div class="col-12">
                <form method="GET" class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="task-filter-form">
                    <label
                        class="btn btn-outline-primary w-100 {% if request.GET.filter == 'todos' or not request.GET.filter %}active{% endif %}">
                        <input type="radio" name="filter" value="todos" id="todos" {% if request.GET.filter == 'todos' or not request.GET.filter %}checked{% endif %} onchange="this.form.submit()">
                            Todos
                        <span class="badge bg-info ms-2">{{ tasks_count }}</span>
                    </label>
    
                    <label
                        class="btn btn-outline-primary w-100 {% if request.GET.filter == 'pendentes' %}active{% endif %}">
                        <input type="radio" name="filter" value="pendentes" id="pendentes" {% if request.GET.filter == 'pendentes' %}checked{% endif %} onchange="this.form.submit()">
                            Pendentes
                        <span class="badge bg-warning ms-2">{{ pending_tasks_count }}</span>
                    </label>
    
                    <label
                        class="btn btn-outline-primary w-100 {% if request.GET.filter == 'finalizados' %}active{% endif %}">
                        <input type="radio" name="filter" value="finalizados" id="finalizados" {% if request.GET.filter == 'finalizados' %}checked{% endif %} onchange="this.form.submit()">
                            Finalizados
                        <span class="badge bg-success ms-2">{{ completed_tasks_count }}</span>
                    </label>
                </form>
            </div>
        </div>
    
        <ul class="list-unstyled">
            {% for task in tasks %}
            <li class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="h3">{{ task.title }}</h4>
                        <div class="text-muted">
                            {{ task.user.username }}, {{ task.created_at|date:"d M Y H:i" }}
                        </div>
                    </div>
                    {% if task.status %}
                        <span class="badge bg-success p-2">Finalizado!</span>
                    {% else %}
                        <span class="badge bg-warning p-2">Pendente</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h6 class="mb-2">Task</h6>
                    <p class="card-text">{{ task.description }}</p>
    
                    {% if task.worktime_set.all %}
                    <ul class="list-unstyled">
                        {% for entry in task.worktime_set.all %}
                        <li class="border p-3 rounded mb-3 bg-light">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h5 class="h6 mb-0">{{ entry.user }}</h5>
                                <span class="badge bg-secondary">{{ entry.hours_worked }} horas</span>
                            </div>
                            <p class="mb-2">{{ entry.description }}</p>
                            <div class="text-muted text-end">
                                <small>{{ entry.created_at|date:"d M Y H:i" }}</small>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
    
                    {% if task.status == False %}
                    <div>
                        {% if task.user == request.user %}
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#checkTaskModal-{{ task.id }}">
                            Conluir
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#workTimeModal-{{ task.id }}">
                            Registrar Trabalho
                        </button>
                    </div>
                    {% endif %}
    
                    {% include 'task/modal/register_work.html' %}
    
                    {% include 'task/modal/confirm.html' %}

                </div>
            </li>
            {% empty %}
            <div class="padding">
                <span class="alert alert-info">Nenhuma Task encontrada.</span>
            </div>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modals = document.querySelectorAll('[id^="workTimeModal-"]');

        modals.forEach(modal => {
            const form = modal.querySelector('form');

            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const formData = new FormData(form);
                const url = form.action;
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                const headers = new Headers();
                headers.append('X-CSRFToken', csrfToken);

                try {
                    const response = await fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: headers
                    });

                    if (!response.ok) {
                        const errorData = await response.json();

                        const errorMessages = errorData.errors.__all__;
                        const errorHTML = errorMessages.map(message => `<div>${message}</div>`).join('');

                        const errorContainer = modal.querySelector('.error-container');
                        errorContainer.innerHTML = '<div class="alert alert-danger">' + errorHTML + '</div>';
                    } else {
                        modal.querySelector('.btn-close').click();
                        window.location.reload();
                    }
                } catch (error) {
                    console.error('Erro:', error);
                }
            });
        });
    });
</script>
{% endblock %}