{% extends 'base.html' %}

{% load static %}

{% block title %} Task Manager - Registro {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="form-register">
        <h2 class="h4 mb-4 text-center">Registrar-se</h2>
        <form method="post">
            {% csrf_token %}

            <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                <label for="username">Username</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" name="email" class="form-control" id="email" placeholder="Email" required>
                <label for="email">E-mail</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="password1" class="form-control" id="password1" placeholder="Senha" required>
                <label for="password1">Senha</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirme sua senha" required>
                <label for="password2">Confirme sua senha</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Registrar</button>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}" class="d-block">Já possui uma conta? Faça login</a>
            </div>
            <p class="text-center mt-3 mb-0">Task Manager ©2024</p>
        </form>

        {% include 'errors.html' %}
        
    </div>
{% endblock %}



{% block scripts %}
    <script href="{% static 'user/js/errors.js' %}"></script>
{% endblock %}
