{% extends 'base.html' %}

{% block content %}

<form method="GET" class="mb-4">
    <div class="row gy-3 gx-3">
        <div class="col-lg-3 col-md-6">
            <label for="id_user" class="form-label">Usuário</label>
            {{ filter.form.user }}
        </div>
        <div class="col-lg-3 col-md-6">
            <label for="id_task" class="form-label">Título da Task</label>
            {{ filter.form.task }}
        </div>
        <div class="col-lg-3 col-md-6">
            <label for="id_start_time" class="form-label">Início (a partir de)</label>
            {{ filter.form.start_time }}
        </div>
        <div class="col-lg-3 col-md-6">
            <label for="id_end_time" class="form-label">Fim (até)</label>
            {{ filter.form.end_time }}
        </div>
        <div class="col-lg-6 col-md-12">
            <label for="id_description" class="form-label">Descrição</label>
            {{ filter.form.description }}
        </div>
        <div class="col-lg-3 col-md-12 d-flex align-items-end justify-content-md-end">
            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
        </div>
    </div>
</form>

<nav class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Lista de Tasks</h1>
    <a class="btn btn-primary" href="{% url 'task_create' %}">Criar Nova Task</a>
</nav>


<section>
    <div class="row mb-4">
        <div class="col-12">
            <form method="GET" class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="task-filter-form">
                <label
                    class="btn btn-outline-primary w-100 {% if request.GET.filter == 'todos' or not request.GET.filter %}active{% endif %}">
                    <input type="radio" name="filter" value="todos" id="todos" {% if request.GET.filter == 'todos' or not request.GET.filter %}checked{% endif %} onchange="this.form.submit()">
                    Todos
                    <span class="badge bg-info ms-2">{{ tasks_count }}</span>
                </label>

                <label
                    class="btn btn-outline-primary w-100 {% if request.GET.filter == 'pendentes' %}active{% endif %}">
                    <input type="radio" name="filter" value="pendentes" id="pendentes" {% if request.GET.filter == 'pendentes' %}checked{% endif %} onchange="this.form.submit()">
                    Pendentes
                    <span class="badge bg-warning ms-2">{{ pending_tasks_count }}</span>
                </label>

                <label
                    class="btn btn-outline-primary w-100 {% if request.GET.filter == 'finalizados' %}active{% endif %}">
                    <input type="radio" name="filter" value="finalizados" id="finalizados" {% if request.GET.filter == 'finalizados' %}checked{% endif %} onchange="this.form.submit()">
                    Finalizados
                    <span class="badge bg-success ms-2">{{ completed_tasks_count }}</span>
                </label>
            </form>
        </div>
    </div>


    <ul class="list-unstyled">
        {% for task in tasks %}
        <li class="card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="h3">{{ task.title }}</h4>
                    <div class="text-muted">
                        {{ task.user.username }}, {{ task.created_at|date:"d M Y H:i" }}
                    </div>
                </div>
                {% if task.status %}
                <span class="badge bg-success p-2">Finalizado!</span>
                {% else %}
                <span class="badge bg-warning p-2">Pendente</span>
                {% endif %}
            </div>
            <div class="card-body">
                <h6 class="mb-2">Task</h6>
                <p class="card-text">{{ task.description }}</p>

                {% if task.worktime_set.all %}
                <ul class="list-unstyled">
                    {% for entry in task.worktime_set.all %}
                    <li class="border p-3 rounded mb-3 bg-light">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h5 class="h6 mb-0">{{ entry.user }}</h5>
                            <span class="badge bg-secondary">{{ entry.hours_worked }} horas</span>
                        </div>
                        <p class="mb-2">{{ entry.description }}</p>
                        <div class="text-muted text-end">
                            <small>{{ entry.created_at|date:"d M Y H:i" }}</small>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if task.status == False %}
                <div>
                    {% if task.user == request.user %}
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#checkTaskModal-{{ task.id }}">
                        Conluir
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#workTimeModal-{{ task.id }}">
                        Registrar Trabalho
                    </button>
                </div>
                {% endif %}

                <!-- Modal para registrar trabalho -->
                <div class="modal fade" id="workTimeModal-{{ task.id }}" tabindex="-1"
                    aria-labelledby="workTimeModalLabel-{{ task.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="workTimeModalLabel-{{ task.id }}">Registrar Trabalho</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'worktime_create' %}"
                                    id="workTimeForm-{{ task.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="task" value="{{ task.id }}">
                                    <div class="row gy-3">
                                        <div class="col-md-6">
                                            <label for="start_time" class="form-label">Data e Hora de Início</label>
                                            <input type="datetime-local" class="form-control" name="start_time"
                                                required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="end_time" class="form-label">Data e Hora de Fim</label>
                                            <input type="datetime-local" class="form-control" name="end_time" required>
                                        </div>
                                        <div class="col-12">
                                            <label for="description" class="form-label">Descrição</label>
                                            <textarea class="form-control" name="description" rows="3"
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="error-container"></div>
                                    <div class="modal-footer mt-4">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim do Modal -->

                <!-- Modal de confirmação para concluir Task -->
                <div class="modal fade" id="checkTaskModal-{{ task.id }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                Tem certeza que deseja concluir a Task?
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <form method="POST" action="{% url 'task_check' task.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Concluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim -->

            </div>
        </li>
        {% empty %}
        <div class="padding">
            <span class="alert alert-info">Nenhuma Task encontrada.</span>
        </div>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modals = document.querySelectorAll('[id^="workTimeModal-"]');

        modals.forEach(modal => {
            const form = modal.querySelector('form');

            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const formData = new FormData(form);
                const url = form.action;
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                const headers = new Headers();
                headers.append('X-CSRFToken', csrfToken);

                try {
                    const response = await fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: headers
                    });

                    if (!response.ok) {
                        const errorData = await response.json();

                        const errorMessages = errorData.errors.__all__;
                        const errorHTML = errorMessages.map(message => `<div>${message}</div>`).join('');

                        const errorContainer = modal.querySelector('.error-container');
                        errorContainer.innerHTML = '<div class="alert alert-danger">' + errorHTML + '</div>';
                    } else {
                        modal.querySelector('.btn-close').click();
                        window.location.reload();
                    }
                } catch (error) {
                    console.error('Erro:', error);
                }
            });
        });
    });
</script>
{% endblock %}