{% extends 'base.html' %}

{% block content %}
<h2 class="h3">Registros de Tempo</h2>

<form id="worktimeForm" method="get" class="row g-3">
    <div class="col-md-6">
        <label for="id_user" class="form-label">Usuário:</label>
        {{ filter.form.user }}
        <div id="error_user" class="text-danger"></div>
    </div>
    <div class="col-md-6">
        <label for="id_start_time" class="form-label">Data de Início:</label>
        {{ filter.form.start_time }}
        <div id="error_start_time" class="text-danger"></div>
    </div>
    <div class="col-md-6">
        <label for="id_end_time" class="form-label">Data de Término:</label>
        {{ filter.form.end_time }}
        <div id="error_end_time" class="text-danger"></div>
    </div>
    <div class="col-md-6">
        <label for="id_hours_worked" class="form-label">Horas Trabalhadas:</label>
        {{ filter.form.hours_worked }}
        <div id="error_hours_worked" class="text-danger"></div>
    </div>
    <div class="col-md-6">
        <label for="id_task" class="form-label">Tarefa:</label>
        {{ filter.form.task }}
        <div id="error_task" class="text-danger"></div>
    </div>
    <div class="col-md-6">
        <label for="id_description" class="form-label">Descrição:</label>
        {{ filter.form.description }}
        <div id="error_description" class="text-danger"></div>
    </div>
    <div class="col-12 text-end">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
</form>


<hr class="my-4">

<div class="row">
    {% for worktime in filter.qs %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0">{{ worktime.user.username }}</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">{{ worktime.task.title }}</h6>
                <p class="card-text mt-2">
                    <strong>Descrição:</strong> {{ worktime.description }} <br>
                    <strong>Horas Trabalhadas:</strong> {{ worktime.hours_worked }}<br>
                </p>
            </div>
            <div class="card-footer text-end">
                <small class="text-muted">{{ worktime.start_time|date:"d M Y H:i" }} - {{ worktime.end_time|date:"d M Y H:i" }}</small>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
            Nenhum registro encontrado.
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


