<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header, h1 {
        padding: 10px;
    }
    
    nav {
        margin: 10px;
        display: flex;
        gap: 2rem;
    }
</style>
<body>
    <header>
        <h1>Task Manager</h1>

        <nav>
            <a href="{% url 'task_list' %}">Home</a>
            <a href="{% url 'task_create' %}">Criar Tarefa</a>
            <a href="{% url 'logout' %}">Sair</a>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>